<!DOCTYPE html>
<html manifest='/manifest/<%= projectId %>/cache.manifest'>
    <head>

        <!-- Browser setup tags -->
        <meta charset=utf-8>
        <title>Scratch HTML5</title>

        <!-- iPad properties: set width, disable pinch zoom -->
        <link rel="icon" sizes="196x196" href="http://cdn2.scratch.mit.edu/get_image/project/<%= projectId %>_196x196.png">
        <link rel="icon" sizes="128x128" href="http://cdn2.scratch.mit.edu/get_image/project/<%= projectId %>_128x128.png">
        <link rel="apple-touch-icon" sizes="196x196" href="http://cdn2.scratch.mit.edu/get_image/project/<%= projectId %>_196x196.png" />
        <link rel="apple-touch-icon" sizes="128x128" href="http://cdn2.scratch.mit.edu/get_image/project/<%= projectId %>_128x128.png" />
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Scaling and scale setup meta-tags -->
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui" />

        <!-- Link style sheets -->
        <link rel=stylesheet href=player.css>
        <link rel=stylesheet href=index.css>

        <!-- Import JQuery -->
        <script src=//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js></script>

    </head>
    <body>

        <script type="text/javascript">

            // Wills addition to set ID
            var projectId = "<%= projectId %>"; 

            // Retrieve project ID
            $(document).ready(function()
            {
                var project_id = projectId || location.hash && parseInt(location.hash.substr(1)) || 10000160;
                new Scratch(project_id);
            });

        </script>

        <!-- User flags -->
        <div id="trigger-stop" tabindex="3"></div>
        <div id="trigger-green-flag" tabindex="2"></div>

        <!-- Proloader elements -->
        <div id="preloader">
            <div id="preloader-info-container">
                <div id="preloader-progress"><div id="preloader-progress-bar"></div></div>
                <div id="preloader-caption">Loading project&hellip;</div>
                <div id="preloader-details"></div>
            </div>
        </div>

        <!-- Actual player elements -->
        <div id="player-container">
            <div id="container"></div>
            <div id="overlay" class="overlaycover">
                <img id="overlay" class="overlayImage" src="img/playerStartFlagOff.png"></img>
            </div>
        </div>

        <div id="hit-canvas" style="opacity: 0.8; width: 480; height: 360px; position: absolute; z-index: 1000000000;"

        <!-- Import javascript files -->
        <script src="js/util/Timer.js"></script>
        <script src="js/util/OffsetBuffer.js"></script>
        <script src="js/util/Color.js"></script>
        <script src="js/util/Rectangle.js"></script>
        <script src="js/Sprite.js"></script>
        <script src="js/Reporter.js"></script>
        <script src="js/Stage.js"></script>
        <script src="js/sound/WAVFile.js"></script>
        <script src="js/sound/SoundDecoder.js"></script>
        <script src="js/sound/SoundBank.js"></script>
        <script src="js/sound/NotePlayer.js"></script>
        <script src="soundbank/Instr.js"></script>
        <script src="js/IO.js"></script>
        <script src="js/primitives/VarListPrims.js"></script>
        <script src="js/primitives/MotionAndPenPrims.js"></script>
        <script src="js/primitives/LooksPrims.js"></script>
        <script src="js/primitives/SensingPrims.js"></script>
        <script src="js/primitives/SoundPrims.js"></script>
        <script src="js/primitives/Primitives.js"></script>
        <script src="js/Interpreter.js"></script>
        <script src="js/Runtime.js"></script>
        <script src="js/AppCache.js"></script>
        <!-- <script src="js/Scratch.js"></script> -->
        <script type="text/JavaScript" src="js/Scratch.js"></script> 

        <!-- Import Scott Logic files -->
        <script src="js/SLScratch.js"></script>

    </body>

</html>